# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*$py.class

# ============================================================
# Virtual Environments
# ============================================================

.venv/
.venv313/

# ============================================================
# IDE
# ============================================================

.idea/
.vscode/

# ============================================================
# Python cache / tooling
# ============================================================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# ============================================================
# Temporary files
# ============================================================

*.tmp
*.temp
*.log

# ============================================================
# Jupyter
# ============================================================

.ipynb_checkpoints/

# ============================================================
# Project generated outputs
# ============================================================

outputs/

# ============================================================
# YOLO training runs
# ============================================================

runs/

# ============================================================
# Large datasets
# ============================================================

dataset/

# ============================================================
# OS files
# ============================================================

.DS_Store
Thumbs.db
# ============================================================
# Archived experiments
# ============================================================

archive/